@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Mono:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.comment-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    width: 400px;
    padding: 30px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(0, 250, 250);
}

.comment-box h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.comment-box input,
.comment-box textarea {
   // position: absolute;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

.comment-box input:focus,
.comment-box textarea:focus {
    border-color: #86b0b6;
}

.comment-box textarea {
    height: 120px;
}

.comment-box button {
    border: 0;
    padding: 10px 30px;
    background-color: #007bff;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comment-box button:hover {
    background-color: #0ef;
}

.back-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    
}
