<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenAI</title>
    <link rel="stylesheet" href="range.component.scss">
</head>
<body>

    <header class="header">
        <a href="range.component.html" class="logo">ADDICITION CONTROLLER</a>
        </header>

    <video autoplay loop class="back-video" muted plays-lnline>
        <source src="../../assets/video.mp4" type="video/mp4">
    </video>

    <div class="comment-box">

        <form (submit)="onSave()">

        <label for="PO3">PO3:</label>
        <input type="text" id="PO3" name="PO3" [(ngModel)]="PO3" placeholder="PO3">
      
        <label for="PO4">PO4:</label>
        <input type="text" id="PO4" name="PO4" [(ngModel)]="PO4" placeholder="PO4">
      
        <label for="F6">F6:</label>
        <input type="text" id="F6" name="F6" [(ngModel)]="F6" placeholder="F6">
      
        <label for="C4">C4:</label>
        <input type="text" id="C4"  name="C4" [(ngModel)]="C4" placeholder="C4">

        <label for="CP4">CP4:</label>
        <input type="text" id="CP4"  name="CP4" [(ngModel)]="CP4" placeholder="CP4">

        <button type="buttom" (click)="onSave()">Save</button>
        
        <button type="submit">Submit</button>
    </form>
      </div>
      
</body>
</html>